body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(0, 0, 0);
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
p {
  color: white;
}

.tooltipMap {
  position: absolute;
  max-width: 500px;
  height: auto;
  padding: 5px;
  background-color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
  font-family: sans-serif;
  font-size: 20px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr {
  background-color: #dddddd;
}

.select {
  text-align: center;
  width: 300px;
  margin-left: 750px;
}

/* Style the lines by removing the fill and applying a stroke */
.line {
  fill: none;
  stroke: #ff0000;
  stroke-width: 3;
}

.overlay {
  fill: none;
  pointer-events: all;
}
.xaxis line {
  stroke: white;
  font-size: 20px;
}

.xaxis path {
  stroke: white;
  font-size: 20px;
}

.xaxis text {
  fill: white;
  font-size: 20px;
}

.yaxis line {
  stroke: white;
  font-size: 20px;
}

.yaxis path {
  stroke: white;
  font-size: 20px;
}

.yaxis text {
  fill: white;
  font-size: 20px;
}

.pie {
  width: 500px;
  height: 500px;
  border: 1px solid black;
}

.logo {
  width: 300px;
}

.legend rect {
  fill: white;
  stroke: black;
  opacity: 0.8;
}

.container {
  width: 210px;
}

.column {
  float: left;
  width: 50%;
}

.chartDiv {
  margin-top: 200px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.legend {
  float: left;
}
.pieChart {
  float: right;
}

div.tooltip {
  position: absolute;
  text-align: center;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  background-color: white;
  border: 0px;
  border-radius: 8px;
}

.tooltip p {
  margin: 0;
  padding: 0;
}

circle {
  fill: rgb(172, 131, 131);
}

.button1,
.button2 {
  background-color: rgb(0, 102, 255);
  color: black;
  border: 2px solid #4caf50;
  border-radius: 12px;
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 100px;
}

.button1:hover {
  background-color: #008cba;
}

.button2:hover {
  background-color: #008cba;
}

.map {
  margin-top: 200px;
}
